# sudo cp <this file> /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable <filename>@<username>.service
# sudo systemctl start <filename>@<username>.service

[Unit]
Description=Run UVC camera streaming service at boot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/Projects/camera-streamer-rpi
ExecStart=/home/%i/Projects/camera-streamer-rpi/startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
